mixin videoGenerator(video)
    div 
        h4 
            a(href=`/video/${video.id}`)=video.title
        p=video.description
        each hashtag in video.hashtags
            span #{hashtag}, 
        br
        small=video.createdAt 
        hr