doctype html 
html(lang="en")
    head 
        title #{pageTitle} | Dailytube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header 
            if(!home)
                h1=pageTitle 
                nav 
                    ul 
                        li 
                            a(href="/") Back to Home
                        li 
                            a(href="/search") Search
        main
            block content
        include partials/footer.pug