extends base.pug
include mixins/video

block content 
    h1 Welcome to Dailytube, The Liberator of People from Youtube!
    nav 
        ul 
            li 
                a(href="/video/upload") Upload Video
            li 
                a(href="/search") Search
    ul
        each video in videos
            +videoGenerator(video)
        else 
            li video not found