extends base.pug
include mixins/video

block content 
    h2 Welcome to Dailytube, The Liberator of People from Youtube
    nav 
        ul 
            li 
                a(href="/video/upload") Upload Video
    ul
        each video in videos
            +videoGenerator(video)
        else 
            li video not found